<%= render 'layouts/header' %>
<!-- <%= render 'form', lead: @lead %> -->

<div class="row">
  <div class="col s12 m12 l12">
   <div class="container ">


<div id="card-alert" class="card green lighten-5">
                      <div class="card-content green-text">
                             <p id="notice"><%= notice %></p>
                      </div>
                    </div>

<%= render 'leads/form_new',  lead: @lead %>

</div>
</div>
</div>

<%= render 'layouts/footer' %>
