<section id="product-features" >
  <div class="container">
    <div class="row">
      <div class="col s12 m12 l12">
       <div class="card-spi  ">
<!-- Start First Line -->
          <div class="card-item-featured-jcm order-jcm-1" >
            <%= yield(:img1) %>
          </div>
          <div class="card-item-featured-content-jcm order-jcm-2" >
            <h3 class="header-feature-product-page"><%= yield(:productName) %></h3>
            <h4 class="sub-header-feature-product-page"><%= yield(:subProductName) %></h4>
            <p class="flow-text">
              <%= yield(:description) %>
            </p>
            <div class="product-features-call-to-action">
              <a class="waves-effect waves-light btn red" href="#download-technical-specifications">Get Pricing</a>
            </div>
            <div class="related-products" >
              <strong>RELATED PRODUCTS:</strong>
              <%= yield(:relatedProducts) %>
              <br/><br/>
              <strong>TAGS:</strong>
              <div class="chip">
                borescope camera
              </div>
              <div class="chip">
                inspection camera
              </div>
              <div class="chip">
                videoscope
              </div>
              <div class="chip">
                endoscope camera
              </div>
            </div>
          </div>
 <!-- End First Line -->

 <!-- Start Middle Line -->


          <div class="card-item order-jcm-3">
            <h3 class="header-key-feature-product-page">Key Features</h3>
            <%= yield(:keyFeatures) %>
            <div class="product-features-call-to-action">
              <a class="waves-effect waves-light btn bk-blue" href="#download-technical-specifications">Technical Specs</a>
            </div>
          </div>

          <div class="card-item  order-jcm-4">
            <%= yield(:img2) %>
          </div>

 <!-- End Middle Line -->

<!-- Start Last Line -->
          <div class="card-item order-jcm-5" style="padding-right:100px;">
            <%= yield(:img3) %>
          </div>

          <div class="card-item order-jcm-6" >
            <h3 class="header-key-feature-product-page">Key Features</h3>
            <%= yield(:keyFeatures2) %>
            <div class="product-features-call-to-action">
              <a class="waves-effect waves-light btn bk-yellow" href="/inspection-camera/demo" target="_blank">Demo Now</a>
            </div>
             <%= yield(:img4) %>
          </div>

<!--
          <div class="card-item-full-width order-5 padding-t100">

          </div> -->

<!-- End Last Line -->
        </div>
      </div>
    </div>
  </div>
</section>
