<!-- Section 5 starts Here -->
<section id="partners">
  <div class="container">
    <div class="row center">
      <div class="col s12 m12 l12 top-20">
        <span class="header-wrap clear-160"><h2 class="header-1">The Best Use SPI</h2></span>
        <div class="partners-wrap" >
          <div class="partners-logo">
            <a  href="http://www.gm.com/" target="_blank" title="General Motors" alt="General Motors | Official Global Site | GM.com" />
            <%= image_tag('gm.png', :alt => 'TO BE ADDED', :class => 'partners responsive-img' ) %>
          </a>
        </div>
        <div class="partners-logo">
          <a  href="http://www.boeing.com" target="_blank" title="Boeing" alt="Boeing: The Boeing Company" />
          <%= image_tag('boeing.png', :alt => 'TO BE ADDED', :class => 'partners responsive-img' ) %>
        </a>
      </div>
      <div class="partners-logo hide-on-small-and-down">
        <a  href="http://www.dow.com" target="_blank" title="DOW" alt="The DOW Chemical Company" />
        <%= image_tag('dow.png', :alt => 'TO BE ADDED', :class => 'partners responsive-img' ) %>
      </a></div>
      <div class="partners-logo">
        <a  href="http://www.fedex.com" target="_blank" title="Fedex" alt="FedEx: Shipping, Logistics Management and Supply Chain Management" />
        <%= image_tag('fedex.png', :alt => 'TO BE ADDED', :class => 'partners responsive-img' ) %>
      </a></div>
      <div class="partners-logo hide-on-small-and-down">
        <a  href="http://www.lockheedmartin.com" target="_blank" title="Lockheed Martin" alt="Lockheed Martin · Lockheed Martin" />
        <%= image_tag('lockheedmartin.png', :alt => 'TO BE ADDED', :class => 'partners responsive-img' ) %>
      </a></div>

      <div class="partners-logo">
        <a    href="http://www.nasa.gov" target="_blank" title="NASA" alt="NASA" />
        <%= image_tag('nasa.png', :alt => 'TO BE ADDED', :class => 'partners responsive-img' ) %>
      </a></div>
            <div class="partners-logo hide-on-small-and-down">
        <a   href="https://www.duke-energy.com/home" target="_blank" title="Duke Energy" alt="	Savings and Information - For Your Home - Duke Energy" />
        <%= image_tag('dukeenergy.png', :alt => 'TO BE ADDED', :class => 'partners responsive-img' ) %>
      </a></div>
            <div class="partners-logo hide-on-small-and-down">
        <a  href="http://www.northropgrumman.com" target="_blank" title="North Grumman" alt="Northrop Grumman Corporation" />
        <%= image_tag('northropgrumman.png', :alt => 'TO BE ADDED', :class => 'partners responsive-img' ) %>
      </a></div>
          <div class="partners-logo hide-on-small-and-down">
        <a  href="http://www.raytheon.com" target="_blank" title="Ray" alt="Raytheon: Customer Success Is Our Mission" />
        <%= image_tag('raytheon.png', :alt => 'TO BE ADDED', :class => 'partners responsive-img' ) %>
      </a></div>
          <div class="partners-logo hide-on-small-and-down">
        <a  href="http://www.alcoa.com" target="_blank" title="Alcoa" alt="Alcoa -- The Element of Possibility TM " />
        <%= image_tag('alcoa.png', :alt => 'TO BE ADDED', :class => 'partners responsive-img' ) %>
      </a></div>
            <div class="partners-logo hide-on-small-and-down">
        <a   href="http://www.nestlepurina.com" target="_blank" title="Nestle" alt="Pushing Pet Nutrition Forward - Purina® Pet Food & Products" />
        <%= image_tag('nestlepurina.png', :alt => 'TO BE ADDED', :class => 'partners responsive-img' ) %>
      </a></div>
            <div class="partners-logo hide-on-small-and-down">
        <a href="http://www.thermofisher.com" target="_blank" title="" alt="Thermo Fisher Scientific" />
        <%= image_tag('thermofisher.png', :alt => 'TO BE ADDED', :class => 'partners responsive-img' ) %>
      </a></div>
            <div class="partners-logo hide-on-small-and-down">
        <a   href="http://www.nrg.com" target="_blank" title="NRG" alt="NRG Energy" />
        <%= image_tag('nrg.png', :alt => 'TO BE ADDED', :class => 'partners responsive-img' ) %>
      </a></div>
            <div class="partners-logo hide-on-small-and-down">
        <a    href="http://www.toyota.com" target="_blank" title="Toyota" alt="New Cars, Trucks, SUVs & Hybrids" />
        <%= image_tag('toyota.png', :alt => 'TO BE ADDED', :class => 'partners responsive-img' ) %>
      </a></div>
            <div class="partners-logo hide-on-small-and-down">
        <a   href="http://www.generaldynamics.com" target="_blank" title="General Dynamics" alt="General Dynamics" />
        <%= image_tag('generaldynamics.png', :alt => 'TO BE ADDED', :class => 'partners responsive-img' ) %>
      </a></div>


    </div>



  </div>
</div>
</div>
</div>
</div>
</section>
