<!-- Start SPI Products Section -->
<section id="products">
  <div  class="container-product-page" >
     <div class="parallax-container hide-on-small-and-down">
         <div class="parallax">
               <%= image_tag('spi-borescopes-products-full-width.jpg', :alt => 'TO BE ADDED', :class => 'slide-image-products') %>
         </div>
    </div>
    <div class="container">
                 <div class="container-product-page">
                      <div class="caption-parallax-products">
                        <h1 class="header-slider-product-page hide-on-small-and-down"><span class="font-yellow">Find</span> the right tool<br/> for your inspection</h1>
                        <a class="btn bc-primary-color  waves-effect waves-light btn-large button-products hide-on-small-and-down" href="#free-demo">
                             <span>Download The Pricing & Product Catalog</span>
                        </a>
                        <a class="btn bc-primary-color  waves-effect waves-light btn-large button-products hide-on-med-and-up" href="#free-demo">
                             <span>Download Catalog</span>
                        </a>
                     </div>
                  </div>
     </div>
  </div>


  <div class="container top-80">
    <div class="row margin-bottom-zero">
      <div class="col s12 m12 l12">
       <div class="card-spi  ">



 <!-- Start X1 Series -->
          <div class="card-item-featured order-products-1" >
           <%= image_tag('x1-series-products.jpg', :alt => 'TO BE ADDED', :class => 'responsive-img', :style => 'padding-right:100px;') %>
         </div>
         <div class="card-item-featured-content order-products-2" >
                 <h1 class="header header-slider products-header products-header">X1 SERIES</h1>
                 <p class="sub-header-products">Articulating Video Borescope</p>
                 <h4 class="sub-header-feature-product-page">3.8mm & 6mm Insertion Diameter</h4>
                  <p class="flow-text">
                   <%= render :partial => 'layouts/product-page/description/x1-series'  %>
                  </p>
             <div class="card-action learn-more">
                      <a class="waves-effect waves-light btn products" href="/inspection-camera/articulating/video-borescope/x1-series">Learn More <i class="material-icons">keyboard_arrow_right</i></a>
             </div>
        </div>
 <!-- End X1 Series -->


   <!-- Start MC1-series Series -->
         <div class="card-item-featured-content padding-t100  order-products-3" >
           <h1 class="header header-slider products-header products-header">MC1 SERIES</h1>
           <p class="sub-header-products">Mechanical Articulating Borescope</p>
           <h4 class="sub-header-feature-product-page">4mm & 6mm Insertion Diameter</h4>
            <p class="flow-text">
             <%= render :partial => 'layouts/product-page/description/mc1-series'  %>
            </p>
            <div class="card-action learn-more">
          <a class="waves-effect waves-light btn products" href="/inspection-camera/mechanical-articulating/video-borescope/mc1-series">Learn More <i class="material-icons">keyboard_arrow_right</i></a>
        </div>
        </div>

        <div class="card-item-featured padding-t100  order-products-4" >
               <%= image_tag('mc1-series-spi-borescopes.jpg', :alt => 'TO BE ADDED', :class => 'responsive-img', :style => 'padding-left:100px;') %>
       </div>
 <!-- End MC1 Series -->


 <!-- Start JCM-series Series -->

 <div class="card-item-featured padding-t100  order-products-5" >
   <%= image_tag('jcm-3000-products.jpg', :alt => 'TO BE ADDED', :class => 'responsive-img', :style => 'padding-right: 100px;') %>
</div>

       <div class="card-item-featured-content padding-t100  order-products-6" >
         <h1 class="header header-slider products-header products-header">JCM SERIES</h1>
         <p class="sub-header-products">Pipe Inspection System</p>
          <p class="flow-text">
           <%= render :partial => 'layouts/product-page/description/jcm-series'  %>
          </p>
          <div class="card-action learn-more">
        <a class="waves-effect waves-light btn products" href="/inspection-camera/pipe-inspection/digital-video-borescope/jcm-series">Learn More <i class="material-icons">keyboard_arrow_right</i></a>
      </div>
      </div>
<!-- End JCM Series -->


  <!-- Start DG1-series Series -->
      <div class="card-item-featured-content padding-t100  order-products-7" >
        <h1 class="header header-slider products-header products-header">DG1 SERIES</h1>
         <p class="sub-header-products">Articulating Video Borescope</p>
         <h4 class="sub-header-feature-product-page">4mm & 6mm Insertion Diameter</h4>
         <p class="flow-text">
          <%= render :partial => 'layouts/product-page/description/dg1-series'  %>
         </p>
         <div class="card-action learn-more">
       <a class="waves-effect waves-light btn products" href="/inspection-camera/articulating/video-borescope/dg1-series">Learn More <i class="material-icons">keyboard_arrow_right</i></a>
     </div>
     </div>
     <div class="card-item-featured padding-t100  order-products-8" >
        <%= image_tag('dg1-series-articulating-video-borescope-1.jpg', :alt => 'TO BE ADDED', :class => 'responsive-img', :style => 'padding-left:100px;') %>
    </div>
<!-- End DG1 Series -->


<!-- Start ultrathin Series -->
<div class="card-item-featured padding-t100  order-products-9" >
    <%= image_tag('specialized-products.jpg', :alt => 'TO BE ADDED', :class => 'responsive-img', :style => 'padding-right: 100px;') %>
</div>
    <div class="card-item-featured-content padding-t100  order-products-10" >
      <h1 class="header header-slider products-header products-header">ULTRA THIN SERIES</h1>
       <p class="sub-header-products">1.8 Micro Borescope Camera</p>
       <p class="flow-text">
        <%= render :partial => 'layouts/product-page/description/ultrathin-series'  %>
       </p>
       <div class="card-action learn-more">
     <a class="waves-effect waves-light btn products" href="/inspection-camera/micro-camera/video-borescope/ultrathin-series">Learn More <i class="material-icons">keyboard_arrow_right</i></a>
    </div>
   </div>

<!-- End Ultrathin  Series -->



</div>
</div>



</div>
</div>

</sectoin>
